@import "mixins.scss";
#alarmHistoryContent_AlarmHistory1 {
	@include elemTop(20);
}
#alarmHistoryContent_AlarmHistory1 {
	@include elemLeft(20);
}
#alarmHistoryContent_AlarmHistory1 {
	@include elemWidth(950);
}
#alarmHistoryContent_AlarmHistory1 {
	@include elemHeight(540);
}
#alarmHistoryContent_AlarmHistory1 {
		z-index: 0;
}
#alarmHistoryContent_AlarmHistoryItem1 {
	@include elemWidth(270);
}
#alarmHistoryContent_AlarmHistoryItem1 {
		z-index: 0;
}
#alarmHistoryContent_AlarmHistoryItem2 {
	@include elemWidth(280);
}
#alarmHistoryContent_AlarmHistoryItem2 {
		z-index: 1;
}
#alarmHistoryContent_AlarmHistoryItem3 {
	@include elemWidth(80);
}
#alarmHistoryContent_AlarmHistoryItem3 {
		z-index: 2;
}
#alarmHistoryContent_AlarmHistoryItem4 {
	@include elemWidth(200);
}
#alarmHistoryContent_AlarmHistoryItem4 {
		z-index: 3;
}
