@import "mixins.scss";
#ContentTop_Image1 {
	@include elemTop(20);
}
#ContentTop_Image1 {
	@include elemLeft(20);
}
#ContentTop_Image1 {
	@include elemAutoWidth(220);
}
#ContentTop_Image1 {
	@include elemAutoHeight(40);
}
#ContentTop_Image1 {
		z-index: 0;
}
#ContentTop_LogoutButton1 {
	@include elemAutoHeight(30);
}
#ContentTop_LogoutButton1 {
	@include elemTop(50);
}
#ContentTop_LogoutButton1 {
	@include elemLeft(1080);
}
#ContentTop_LogoutButton1 {
	@include elemAutoWidth(120);
}
#ContentTop_LogoutButton1 {
		z-index: 1;
}
#ContentTop_LoginInfo1 {
	@include elemAutoWidth(120);
}
#ContentTop_LoginInfo1 {
	@include elemAutoHeight(30);
}
#ContentTop_LoginInfo1 {
	@include elemTop(10);
}
#ContentTop_LoginInfo1 {
	@include elemLeft(1080);
}
#ContentTop_LoginInfo1 {
		z-index: 2;
}
#ContentTop_ImageLogin {
	@include elemTop(20);
}
#ContentTop_ImageLogin {
	@include elemLeft(840);
}
#ContentTop_ImageLogin {
	@include elemAutoWidth(60);
}
#ContentTop_ImageLogin {
	@include elemAutoHeight(60);
}
#ContentTop_ImageLogin {
		z-index: 3;
}
#ContentTop_Label1 {
	@include elemAutoHeight(30);
}
#ContentTop_Label1 {
	@include elemTop(10);
}
#ContentTop_Label1 {
	@include elemLeft(900);
}
#ContentTop_Label1 {
	@include elemAutoWidth(180);
}
#ContentTop_Label1 {
		z-index: 4;
}
#ContentTop_Label1 {
	@include text-alignment-all('right');
}
#ContentTop_NumericOutput1 {
	@include elemAutoWidth(100);
}
#ContentTop_NumericOutput1 {
	@include elemAutoHeight(30);
}
#ContentTop_NumericOutput1 {
	@include elemTop(40);
}
#ContentTop_NumericOutput1 {
	@include elemLeft(470);
}
#ContentTop_NumericOutput1 {
		z-index: 5;
}
