#ModalLogin_Login1 {
  top: 30px;
  position: absolute;
}

#ModalLogin_Login1 {
  left: 40px;
  position: absolute;
}

#ModalLogin_Login1 {
  width: 370px;
}

#ModalLogin_Login1 {
  height: 170px;
}

#ModalLogin_Login1 {
  z-index: 0;
}
