#ServicePageContent_Login1 {
  height: 160px;
}

#ServicePageContent_Login1 {
  top: 60px;
  position: absolute;
}

#ServicePageContent_Login1 {
  left: 50px;
  position: absolute;
}

#ServicePageContent_Login1 {
  width: 310px;
}

#ServicePageContent_Login1 {
  z-index: 0;
}

#ServicePageContent_LanguageSelector1.DropDownBoxView {
  width: 100px;
}

#ServicePageContent_LanguageSelector1.DropDownBoxView {
  height: 30px;
}

#ServicePageContent_LanguageSelector1 {
  top: 230px;
  position: absolute;
}

#ServicePageContent_LanguageSelector1 {
  left: 50px;
  position: absolute;
}

#ServicePageContent_LanguageSelector1 {
  z-index: 1;
}

#ServicePageContent_MeasurementSystemSelector1.DropDownBoxView {
  width: 100px;
}

#ServicePageContent_MeasurementSystemSelector1.DropDownBoxView {
  height: 30px;
}

#ServicePageContent_MeasurementSystemSelector1 {
  top: 290px;
  position: absolute;
}

#ServicePageContent_MeasurementSystemSelector1 {
  left: 50px;
  position: absolute;
}

#ServicePageContent_MeasurementSystemSelector1 {
  z-index: 2;
}

#ServicePageContent_GroupBox1 {
  top: 20px;
  position: absolute;
}

#ServicePageContent_GroupBox1 {
  left: 480px;
  position: absolute;
}

#ServicePageContent_GroupBox1 {
  width: 520px;
}

#ServicePageContent_GroupBox1 {
  height: 160px;
}

#ServicePageContent_GroupBox1 {
  z-index: 3;
}

#ServicePageContent_GroupBox1 > .header {
  background-color: rgba(255, 255, 255, 0);
}

#ServicePageContent_GroupBox2 {
  top: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox2 {
  left: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox2 {
  width: 520px;
}

#ServicePageContent_GroupBox2 {
  height: 40px;
}

#ServicePageContent_GroupBox2 {
  z-index: 0;
}

#ServicePageContent_GroupBox3 {
  top: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox3 {
  left: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox3 {
  width: 520px;
}

#ServicePageContent_GroupBox3 {
  height: 40px;
}

#ServicePageContent_GroupBox3 {
  z-index: 1;
}

#ServicePageContent_GroupBox4 {
  top: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox4 {
  left: 0px;
  position: absolute;
}

#ServicePageContent_GroupBox4 {
  width: 520px;
}

#ServicePageContent_GroupBox4 {
  height: 40px;
}

#ServicePageContent_GroupBox4 {
  z-index: 2;
}

#ServicePageContent_BasicSlider1 {
  width: 250px;
}

#ServicePageContent_BasicSlider1 {
  height: 100px;
}

#ServicePageContent_BasicSlider1 {
  top: 240px;
  position: absolute;
}

#ServicePageContent_BasicSlider1 {
  left: 490px;
  position: absolute;
}

#ServicePageContent_BasicSlider1 {
  z-index: 4;
}

#ServicePageContent_RadialGauge1 {
  width: 200px;
}

#ServicePageContent_RadialGauge1 {
  height: 200px;
}

#ServicePageContent_RadialGauge1 {
  top: 200px;
  position: absolute;
}

#ServicePageContent_RadialGauge1 {
  left: 840px;
  position: absolute;
}

#ServicePageContent_RadialGauge1 {
  z-index: 5;
}

#ServicePageContent_BasicSlider2 {
  width: 250px;
}

#ServicePageContent_BasicSlider2 {
  height: 100px;
}

#ServicePageContent_BasicSlider2 {
  top: 360px;
  position: absolute;
}

#ServicePageContent_BasicSlider2 {
  left: 490px;
  position: absolute;
}

#ServicePageContent_BasicSlider2 {
  z-index: 6;
}
