@import "mixins.scss";
@mixin system_brease_Focus_base {
.breaseWidget:focus, .focusWithin {
	outline-style: solid;
}
.breaseWidget:focus, .focusWithin {
	outline-color: #5E9ED6;
}
.breaseWidget:focus, .focusWithin {
	outline-width: 3px;
}
.breaseWidget:focus, .focusWithin {
	outline-offset: 2px;
}

}

.system_brease_Focus_style_default {
@include system_brease_Focus_base 
}
